@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
*{
  font-family: "Host Grotesk", sans-serif;
}

.corner-border {
  position: relative;
  display: inline-block;
  padding: 6px 10px;
  color: #D4D4D4;
}

/* Top-left & Bottom-right */
.corner-border::before,
.corner-border::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
}

/* Top-left corner */
.corner-border::before {
  top: 0;
  left: 0;
  border-top: 2px solid #D4D4D4;
  border-left: 2px solid #D4D4D4;
}

/* Bottom-right corner */
.corner-border::after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #D4D4D4;
  border-right: 2px solid #D4D4D4;
}

/* Extra corners using inner span */
.corner-border span::before,
.corner-border span::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
}

/* Top-right */
.corner-border span::before {
  top: 0;
  right: 0;
  border-top: 2px solid #D4D4D4;
  border-right: 2px solid #D4D4D4;
}

/* Bottom-left */
.corner-border span::after {
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #D4D4D4;
  border-left: 2px solid #D4D4D4;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.40rem;
  background-image: linear-gradient(to bottom, #1f1f1f, #0d0d0d);
  border: 1px solid #2a2a2a;
  color: white;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
  font-size: 0.75rem;
}

.button:hover {
  background-image: linear-gradient(to bottom, #2a2a2a, #121212);
}

.button:active {
  transform: scale(0.95);
}
